<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiURL</key>
	<string>https://pokeapi.co/api/v2/pokedex/2/</string>
	<key>imageURL</key>
	<string>https://assets.pokemon.com/assets/cms2/img/pokedex/full/</string>
	<key>pokemonURL</key>
	<string>https://pokeapi.co/api/v2/pokemon/</string>
</dict>
</plist>
